@font-face {
    font-family: "Raleway-Light";
    src: url("fonts/Raleway-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Raleway-Light";
}

a{
    text-decoration: none;
    color: #eee;
}

#header{
    width: 100%;
    height: 210vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)),  center no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;

}

#container{
    position: relative;
    width: 100%;
}

nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.logo{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
    margin-left: 25px;
}

.logo span{
    color: #70EE9C ;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: .5s;
}

nav ul li:nth-child(3){
    animation-delay: 1s;
}

nav ul li:nth-child(4){
    animation-delay: 1.5s;
}

nav ul li:nth-child(5){
    animation-delay: 2s;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child{
    margin-right: 80px;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #70EE9C ;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

.overlay{
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}
a i{
    transition-duration: 0.2s;
    color: whitesmoke;
}
a i:hover{
    color: #70EE9C;
    transition-duration: 0.2s;
}

@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0);
    }
}


/*-----------------------------------------------------*/
#backColor{
    background-color: rgba(72, 64, 65,0.6);
}
body {
    font-size: 18px;
    min-width: 1200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainContainer{
    background-color: #C9F77B;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 100px 100px 220px 220px 220px 200px;
    text-align: center;
    align-items: center;
    padding: 40px;
}
.imageStrip img{
    width: 150px;
    border: 3px solid #484041;
}
.imageStrip{
    font-size: 20px;
    font-weight: bolder;
    display: inline-flex;
    width: 70%;
    margin-left: 15%;
    padding: 20px;
    border-radius: 5px;
    background-color: #79AEA3;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgba(67, 67, 113, 0.6));
    transition-duration: 0.3s;
}
.imageStrip:hover{  
    padding-bottom: 30px;
    padding-top: 30px;
    width: 72%;
    margin-left: 14%;
    filter: drop-shadow(10px 10px 8px rgba(67, 67, 113, 0.7));
    transition-duration: 0.3s;
    border-radius: 0;
    font-size: 116%;
}
#imageStrip1{
    text-align: left;
}
#imageStrip1 img{
    margin-right: 20px;
}#imageStrip2{
    text-align: right;
}
#imageStrip2 img{
    margin-left: 20px;
}#imageStrip3{
    text-align: left;
}
#imageStrip3 img{
    margin-right: 20px;
}
h1{
    font-size: 50px;
}
p{
    font-weight: bold;
}
button{
    background-color: #434371;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: 1s;
}
#sizer{
	width: 160px;
	height: 60px;
	position: fixed;
	overflow: hidden;
	top:0; 
	left:100%;
	margin-left:-60px;
	border-radius:0px 0px 0px 10px;
	background-repeat:no-repeat;
	background-color: #fff;
    transition: margin-left 1s;
    z-index:999;
}#down{
	width: 30px;
	height: 30px;
	display: inline;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top:10px;
	position: relative;
	cursor: pointer;
}#up{
	width: 40px;
	height: 40px;
	display: inline;
	margin-left: 5px;
	margin-right: auto;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
}#size{
	width: 50px;
	height: 50px;
	display: inline;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	position: relative;
}
#down:hover{ filter: drop-shadow(1px 1px 2px rgba(0, 102, 204, 10));}
#up:hover{ filter: drop-shadow(1px 1px 2px rgba(0, 102, 204, 10));}
#sizer:hover{margin-left:-160px;}
/*-------------------------------------------------------- footer widget ----------------------------------------------------------------------------*/
i{
    cursor: pointer;
}
section {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 225px;
    background-color: #484041;
    z-index: 100;
}

#part1{
    cursor: pointer;
    position: absolute;
    font-size: 18px;                            /*------------18px to 1920x100-----------------*/
    color: #70EE9C;
    width: 20%;
    height: 150px;
    margin: auto;
    left: 20%;
    top: 25px;
    padding-top: 20px;
    font-family: "Raleway-Light";
}

#part2{
    cursor: pointer;
    position: absolute;
    font-size: 20px;                            /*------------18px to 1920x100-----------------*/
    color: #70EE9C;
    width: 20%;
    height: 150px;
    margin: auto;
    left: 40%;
    top: 5px;
    padding-top: 20px;
    font-family: "Raleway-Light";
}

#part3{
    cursor: pointer;
    position: absolute;
    font-size: 18px;                            /*------------18px to 1920x100-----------------*/
    color: #70EE9C;
    width: 20%;
    height: 150px;
    margin: auto;
    right: 20%;
    top: 25px;
    padding-top: 20px;
    font-family: "Raleway-Light";
}
#part4{
    cursor: pointer;
    position: absolute;
    font-size: 18px;                            /*------------18px to 1920x100-----------------*/
    color: #70EE9C;
    width: 20%;
    height: 150px;
    margin: auto;
    left: 40%;
    top: 75px;
    padding-top: 20px;
    font-family: "Raleway-Light";
}



